/* навігаційне меню */
.general-nav-bar { 
    z-index: 2;
    position: fixed;
    transition: all 0.5s ease 0s;
    cursor:default;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    border: 1px solid #DADADA;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */

    overflow-y: visible;
    overflow-x: hidden;
}
/* ul-список */

.general-menu-ul {
    height: 100vh;

    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
}
/* ul>li */

.general-menu-ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.4s ease 0s;

    margin: 5px;

    width: 226px;
    height: 45px;

    border-radius: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    color: #AEB9F1;
    cursor: pointer;
}

.general-menu-ul>li>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.general-menu-ul>li>a>svg {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--violet);
}

/* текст */

.general-menu-ul>li>a>span {
    text-align: start;
    color:var(--violet);
    display: none;
    visibility: hidden;
}

/* general-nav-bar hover */

.general-nav-bar:hover { 
    width: 274px;
}

.general-nav-bar:hover>.general-menu-ul>li>a {
    padding-left: 1%;
    display: grid;
    /* grid-template-columns: 1fr 3fr; */

    grid-template-columns: 40px 160px;
}

.general-nav-bar:hover>.general-menu-ul>li>a>span {
    visibility: visible;
    display: inline-block;
} 
/* .general-nav-bar:hover>.general-menu-ul>li>a>svg {
    width:24px;
    height:24px;
}  */

/* li hover */

.general-menu-ul>li:hover {
    background-color: var(--violet);
    color: #DADADA;
}
.general-menu-ul>li:active {
    background-color: var(--orange);
    color: #DADADA;
}
/* .general-menu-ul>li:hover>a {
   
} */

.general-menu-ul>li:hover>a>svg {
    fill: var(--background);
    color: var(--background);
    width:32px;
    height:32px;
}
.general-menu-ul>li:hover>a>span {
    color: var(--background);
}

