@import url('../Colors.css');
.links-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 10px;

}

.task-link {
    background-color: var(--white);

    position: relative;
    top: 0;
    transition: top ease 0.5s;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--text-gray);


    /* width: 360px;
    height: 260px; */
    width:100%;
    min-width: 200px;

    border-radius: 16px;
    box-shadow: 0px 2px 2px 2px var(--text-gray);
    /* border: 1px solid var(--text-gray); */
    text-decoration: none;

}

.task-link>span {
    color: var(--text-gray);
    text-decoration: none;
}

.task-link:hover {
    top: -3px;
}

.task-link:hover>span {
    color: var(--almostBlack);
    text-decoration: none;
}

@media screen and (max-width: 740px) {
    .links-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 560px) {
    .links-container {
        grid-template-columns: 1fr;
    }
}
