/* container style */

.cards-container {
  display: flex;
  flex-direction: column;
  /* row row-cols-lg-auto g-3 align-items-center*/
}


/* cards style */
.cards {
  display: grid;
  justify-content: center;
  grid-template-rows: 100%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 0px 12px;

  /* display: flex;
  justify-content: space-between;
  align-content: space-around; */

  /* justify-items: center; */
  /* align-items: center; */
  /* width: 100%;*/

}

/* .cards:first-child{
  padding:0px 0px 0px 12px;
}
.cards:last-child{
  padding:0px 12px 0px 0px;
} */

/* card style */

.card {
  /* position: relative;
  left: 0px;
  top: 0px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; */
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  isolation: isolate;
  transition: all 0.3s ease;

  background: var(--white);
  box-shadow: 0px 1px 14px rgba(0, 7, 22, 0.14), 0px 0px 4px rgba(65, 77, 92, 0.2);
  border-radius: 16px;
  min-width: 410px;
  min-height: 256px;
  padding: 20px 24px 20px 24px;
  /* margin: 0px 12px 0px 12px; */
}

.subjectTitle {

  width: 113px;
  height: 30px;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.36px;
  color: var(--subjectTextColor);
}

/*   
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  background-color: white;
  box-shadow:    10px 10px 10px rgba(0, 0, 0, 0.1); */

/* margin: 10px; 
} 
*/
.card:hover {
  transform: translateY(-7px);
}

.infoicon {
  /* display:flex;
  justify-content: end; */
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 24px;
}

.icon {
  background-image: url("../../images/Icons/info.svg");
  fill: var(--orange);
  stroke: var(--orange);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 18px;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 7, 22, 0.14), 0px 0px 4px rgba(65, 77, 92, 0.2);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  font-size: 1em;
  background: #ffffff;
  padding: 5px 8px;
  box-shadow: 0px 1px 14px rgba(0, 7, 22, 0.14), 0px 0px 4px rgba(65, 77, 92, 0.2);
  visibility: hidden;
  pointer-events: none;
}

.icon:hover {
  width: 30px;
  height: 30px;
}

.icon:hover .tooltip {
  opacity: .95;
  visibility: visible;
  pointer-events: visible;
}

.task-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;

  width: 100%;
}

.task-info-item {
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.text-bolder {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.text-thinner {
  font-weight: 550;
  font-size: 13px;
  line-height: 22px;
}

.row-cols-2-view {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid-row-cols-4{
  position: absolute;
  bottom: 0;
  left:0;
  margin: 0px 0px 10px 10px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

/* img-overlya style */
/* 
.img-overlay {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}
.img-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.not-passed:before {
  content: "not passed";
  position: absolute;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: var(--bg-hot);
  z-index: 3;
  bottom: 10px;
  left: 10px;
  color: white;
  text-transform: capitalize;
}
.passed:before {
  content: "passed";
  position: absolute;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: var(--bg-success);
  z-index: 3;
  bottom: 10px;
  left: 10px;
  color: white;
  text-transform: capitalize;
}
.on-checking:before {
  content: "On checking";
  position: absolute;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: var(--bg-yellow);
  z-index: 3;
  bottom: 10px;
  left: 10px;
  color: white;
  text-transform: capitalize;
} 

.img-overlay img:hover + div {
  width: 100%;
}
.view-image{
  cursor: pointer;
  width: 50px;
  transition: all 0.3s ease;
}
.view-image:hover{
  transform: translateY(-7px);
}
figcaption {
  padding: 30px 0 30px 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--h2-text-color);
  font-size: 1.2rem;
}
*/
/* card-content styles */
/* 
.card-content {
  padding: 0px 30px 30px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 14px;
}

.card-content p {
  color: var(--p-text-color);
} */

/* icons-home style */
/* 
.date-info {
  display: flex;
  justify-content: space-between;
}

.date-item {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.date-item > span {
  color:#a6acb9;
  font-size: 1.2em;
  text-transform: capitalize;
} */

/* icon styles */

/* .date-display {
  display: flex;
  align-items: center;
}

.date-display i {
  color: var(--icon-info-color);
  font-size: 20px;
  margin-right: 10px;
}

.date-display span {
  vertical-align: middle;
  font-size: 1.3em;
}

/* bottom style */
/* 
.bootom-field {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.bootom-field span:last-of-type {
  color: var(--price-text-color);
  font-size: 18px;
}

  .subjectView{
    color:#FF8000;
    padding: 15px;
    margin: 10px;
    font-size: 18px;
  }

 */