/* container style */

.cards-container {
  display: flex;
  flex-direction: column;
  /* row row-cols-lg-auto g-3 align-items-center*/
}


/* cards style */
.cards {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-gap: 24px 24px;
}

/* card style */

.card {
  /* animation-play-state: running;
  animation: fade 1s ease-in 1s; */
  /* animation-iteration-count: infinite; */
  /* animation-duration: 1s; */
  animation-iteration-count: 1;

  animation-name: fade;
  animation-duration: 1s;
  animation-play-state: running;

  white-space: nowrap;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  isolation: isolate;
  transition: all 0.3s ease;
  background: var(--white);
  box-shadow: 0px 1px 14px rgba(0, 7, 22, 0.14), 0px 0px 4px rgba(65, 77, 92, 0.2);
  border-radius: 16px;
  width: 100%;

  max-width: 410px;
  max-height: 256px;
  min-width: 390px;
  padding: 20px 24px 20px 24px;
  /* margin: 0px 12px 0px 12px; */
}

.subjectTitle {

  width: 113px;
  height: 30px;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.36px;
  color: var(--subjectTextColor);
}

/*
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  background-color: white;
  box-shadow:    10px 10px 10px rgba(0, 0, 0, 0.1); */

/* margin: 10px;
}
*/
.card:hover {
  transform: translateY(-7px);
}

.infoicon {
  /* display:flex;
  justify-content: end; */
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 24px;
}

.icon {
  background-image: url("../../images/Icons/info.svg");
  fill: var(--orange);
  stroke: var(--orange);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 18px;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 7, 22, 0.14), 0px 0px 4px rgba(65, 77, 92, 0.2);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  font-size: 1em;
  background: #ffffff;
  padding: 5px 8px;
  box-shadow: 0px 1px 14px rgba(0, 7, 22, 0.14), 0px 0px 4px rgba(65, 77, 92, 0.2);
  visibility: hidden;
  pointer-events: none;
}

.icon:hover {
  width: 30px;
  height: 30px;
}

.icon:hover .tooltip {
  opacity: .95;
  visibility: visible;
  pointer-events: visible;
}

.task-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;

  width: 100%;
}

.task-info-item {
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.text-bolder {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.text-thinner {
  font-weight: 550;
  font-size: 13px;
  line-height: 22px;
}

.row-cols-2-view {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.row-cols-3-view {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.grid-row-cols-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px 0px 10px 10px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  top:0;
  left:-10px;
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1400px) {
  .cards {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 0px 12px; */
    grid-gap: 24px 24px;

  }
}

@media only screen and (max-width: 1265px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px 12px;
    /* grid-gap: 24px 24px; */
    align-items: center;
    justify-items: center;
  }
}

@media only screen and (max-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px 12px;
    align-items: center;
    justify-items: center;
  }
}

/* @media only screen and (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    align-items: center;
    justify-items: center;
  }
} */

@media only screen and (max-width: 576px) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    /* position: relative;
    top: 0;
    left: 32px; */
  }
}