.card_review {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    min-width: 100%;
    width: 100%;
    min-height: 100px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.info__text {
    max-width: 450px;
    width: auto;
    max-height: 70p;
    margin-left: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main__container {
    height: 100%;
}
.review__cart {
    margin-top: 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    min-width: 100%;
    width: 100%;
    min-height: 100px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 40px;
    padding-bottom: 25px;
}
.st-position__rate{
  width: 74px;
height: 20px;
left: 183px;
top: 242px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 128px;
line-height: 20px;
/* identical to box height, or 16% */

display: flex;
align-items: center;

color: #FF9F2D;
}
.text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  height: 100%;
  margin-left: 44px;
}
.title_msg {
  margin-bottom: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #4F4F4F;
}
.main__info {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #4F4F4F;
}

/* PopUp */

.popup {
    position: absolute;
    z-index: 12;
    content: '';
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(44, 51, 71, 0.3);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;    
}
.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px;
}
.popup__content {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  overflow:hidden;
  background-color: white;
  color: black;
  max-width: 900px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  width: 600px;
  height: auto;
  min-height: 500px;
  transform: perspective(600px) translate(0px, -100px) rotateX(45deg)
}
.popup__content.animate {
  transition: all 0.3s ease 0s;
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg)
}
.popup__close{
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.popup__text{
  color: black;
  font-size: 30px;
}
.text__fonts{
  box-sizing: border-box;
  color: rgb(8, 8, 8);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.my-modal-content{
  transition: all 1s ease 0s;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}
.big-news-container{
  transition: all 1s ease 0s;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);  margin-top: 50px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}
b.title{
  align-self: flex-start;
  font-weight: bold;
  font-size: 23px;
}

b.mainInfo{
  font-size: 20px;
}

hr {
  width: 50px;
  background-color: #fa5873;
  height: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}

.new-message{
  font-size: 22px;
  font-weight: bolder;
  color: red;
  margin-left: 70px;
  transform: rotate(45deg);
  position: absolute;
}