/* @import url('Colors.css'); */
:root {
  --white: #ffffff;
  --background: #ffffff;
  --red: #DC2626;
  --orange: #F2982A;
  --error: #F87171;
  --iconsColor: black;
  /* --violet: #a5b0cc; */
  --violet: #AEB9F1;
  --headerColor: #AEB9F1;
  --navMenuColor: #ffffff;

  --almostBlack: #333333;

  --white-icon-color:#DADADA;

  --subjectTextColor: #4F4F4F;
  --text-gray:#667080;
  --text-gray2: #333333;

  --selectText:#A5B0CC;

  --journal-not-selected:#969696;
  --radio-success:#497008;
  --radio-red:#CB1E1E;
  
}