@import url('Colors.css');

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.navigationSide {
    flex-grow: 1;
}

.generalSide {
    position: absolute;
    top: 60px;
    left: 70px;
    padding-left: 36px;
    padding-right: 106px;
    /*106-70*/
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* flex-grow: 11; */
}

/* .main-content{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */
.general-pagination-bar {
    /*-60px*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 2fr 1fr 1fr; */
    min-width:300px;
    height: 66px;
    /* margin-top: 44px; */
    margin-bottom: 50px;
    padding: 20px 24px 12px 24px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px rgba(65, 77, 92, 0.2);
    box-shadow: 0px 1px 14px 0px rgba(0, 7, 22, 0.14);

}

.buttons-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.general-button {
    transition: all 0.3s ease;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 4px;

    width: 92px;
    height: 52px;

    white-space: nowrap;

    color: var(--white);
    border: 2px solid var(--violet);

    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.general-button:active {
    transition: all 0.1s ease-in-out;
    background: var(--orange);
    border: 2px solid var(--orange);

}

.general-outline-button {
    transition: all 0.3s ease;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    gap: 8px;
    height: 34px;
    white-space: nowrap;
    color: var(--violet);
    background: var(--white);

    border: 2px solid var(--violet);
    border-radius: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    margin: 0px 4px 0px 4px;
}

.button-static {
    color: var(--white);
    background: var(--violet);
}

.button-static:hover {
    outline: none;
    border: 2px solid #98A6ED;
}

.general-outline-button:hover {

    color: var(--white);
    background: var(--violet);
}

.general-outline-button:active {
    transition: all 0.1s ease-in-out;
    background: var(--orange);
    border: 2px solid var(--orange);
}

.pagination-ul {

    margin: 0;
    padding: 10px 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.pagination-ul>li {
    transition: all 0.2s ease-out;

    cursor: pointer;
    width: 9px;
    height: 22px;

    /* Body/Paragraph Regular */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;
    text-align: center;

    color: var(--text-gray2);
    margin: 0px 10px 0px 10px;
    padding: 0;
}

.pagination-ul>li:hover {
    font-weight: 800;
}

/*___________________________Select________________________*/

/* .general-select select {
    appearance: none;
    outline: 0;
    border: none;
    box-shadow: none;

    color: var(--selectText);
    background-color: var(--background);

    cursor: pointer;

    width: 236px;
    height: 48px;
    border-radius: 16px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    overflow: hidden;
    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
} */

/*___________________________Select________________________*/



.simple__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #F2F2F2;
    cursor: pointer;
}

.page__title {
    margin-top: 30px;
    margin-bottom: 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.36px;
    color: #4F4F4F;
}

.btn__clasic {
    transition: all 0.4s ease 0s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 4px;
    min-width: 180px;
    width: auto;
    max-width: 300px;
    /* 250px */
    height: 52px;
    max-height: 80px;
    background: #AEB9F1;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.btn__clasic:hover {
    background: #92a0e5;
}

.main__container {
    position: relative;
    overflow-x: hidden;
}

.popup__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 702px;
    height: 617px;
    background: #FFFFFF;
    border: 2px solid #919AA9;
    border-radius: 16px;
}

.popup__content .popup__title {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #667080;
}

.form__item {
    margin-bottom: 35px;
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.form__item button {
    align-self: flex-end;
    margin-right: 80px;
}

.popup__content .form-edit {
    margin-left: 24px;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
    margin-left: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    margin-left: 10px;
    box-shadow: inset 0 0 5px #F5F5F5;
    ;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgb(174, 185, 241);
    border-radius: 10px;
    margin-left: 10px;
}

::-webkit-scrollbar-track {
    margin-left: 10px;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    margin-left: 10px;
    border-radius: 16px;
    -webkit-box-shadow: inset 0 0 6px rgb(174, 185, 241);
    background-color: #F5F5F5;
}

.header {
    background-color: var(--violet);
}

@media only screen and (max-width: 992px) {
    .general-pagination-bar {
        /*-60px*/
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
}

@media only screen and (max-width: 680px) {
    .general-pagination-bar {
        /*-60px*/
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }
    .buttons-inline {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 450px) {
    .general-pagination-bar {
        /*-60px*/
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
    }
    .buttons-inline {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 12px;
        justify-content: center;
        align-items: center;
    }
}