@import url('Colors.css');

.centered {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered div {
    margin: 3px;
}

.login-a {
    transition: all 0.4s ease 0s;
    font-size: 0.9em;
    text-decoration: none;
    color: black
}

.login-a:hover {
    color: var(--orange)
}

.login-a-back {
    transition: all 0.4s ease 0s;
    font-size: 0.9em;
    text-decoration: none;
    color: var(--orange)
}

.form-input div {
    font-size: 0.95em;
}

.inputForm {
    width: 450px;
    line-height: 40px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 0.9em;
    color: gray;
}

.inputForm:focus {
    outline: none;
    border: 1px solid var(--violet);
}
.password-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}
.eye {
    position: absolute;
    transition: all 0.3s;
    cursor: pointer;
    right: 13px;
    width: 19px;
    height: 50px;
    z-index: 1000;
    font-size: 73px;
    z-index: 200;
    background: url('https://mystat.itstep.org/assets/resources/eye-regular-grey.svg?v=2e4d4257ead50d95ffcf4682176d89be') no-repeat 50% 50%;
    opacity: 0.7;
}

.eye:hover {
    opacity: 1;
}

.general-button {
    transition: all 0.4s ease 0s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 4px;
    min-width: 180px;
    width: 450px;
    height: 52px;
    max-height: 80px;
    background: #AEB9F1;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.general-button:hover {
    background: #92a0e5;
}