body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #b7bfcf;
  
  border-radius: 10px;
}
.all-container{
  overflow-x: scroll;
  width: 100%;
  display: flex;
  justify-content: center;
  margin:0px;
  height: auto;
  padding-left: 100px;
  font-family: "Open Sans", arial;
  background-color: rgb(231, 237, 241);
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  color:#000;
  font-weight:300;
}
.main-menu::-webkit-scrollbar {
  width: 5px;
}

.main-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.main-menu::-webkit-scrollbar-thumb {
  background: #b7bfcf;
}
.main-menu::-webkit-scrollbar-thumb:hover {
  background: #b7bfcf;
}

.menu__container{
  z-index: 10;
}

.login-img{
  margin-bottom: 50px;
  margin-left: 85px;
  margin-right: 30px;
  margin-top: 40px;
  z-index: 30;
  display: flex;
  position: relative;
  width: 100px;
  height: 200px;
}
.point{
  margin-bottom: 50px;
  margin-right: 85px;
  margin-top: 50px;
  position: absolute;
  height: 14px;
  width: 14px;
  margin-left: 25px;
  transition: all 0.4s ease 0s;
  border: solid rgb(187, 187, 187);
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.main-menu:hover .point{
  transition: all 0.4s ease 0s;
  margin-top: 60px;
  margin-left: 280px;
  margin-bottom: 50px;
  margin-right: 25px;
  transform: rotate(180deg); 

  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.main-menu:hover > .admim-img{
  width: 300px;
}
nav{
  overflow-x: scroll;
  overflow-y: scroll;
}

body
{
  overflow-x: hidden;
  margin:0px;
  padding:0px;
	font-family: "Open Sans", arial;
  position: relative;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(231, 237, 241);
	color: #000;
	font-weight:300;
} 

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.logo{
  background-image: url(https://logowik.com/content/uploads/images/674_kfc.jpg);
}

.settings {
  height:73px; 
  float:left;
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
  text-align: center;
  font-size:20px;
  font-family: 'Gt super text book', Georgia, sans-serif;
}

/* ScrolBar  */
.scrollbar
{
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar:hover
{
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
  border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
  width: 5px;
  background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BFBFBF;
}
/* Scrollbar End */ 

.fa-lg {
  font-size: 1em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  top:12px; 
  font-size: 33px;
}

.main-menu:hover, nav.main-menu.expanded {
  width:330px;
  overflow-y:scroll;
  opacity:1;
}
.backgr{
  background: rgba(44, 51, 71, 0.8);
  /* background: rgba( #007bff, #007bff, #007bff, 0.4); */
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.img-menu{
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url('https://mystat.itstep.org/assets/images/park.jpg?v=879533787a3acfa750e3c1310bace6e2');
}

.main-menu {
  z-index: 10;
  background: rgba(44, 51, 71, 0.8);
  position: fixed;
  top:0;
  bottom:0;
  height: 100%;
  left:0;
  width:80px;
  overflow:hidden;
  -webkit-transition:width .2s linear;
  transition:width .2s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  opacity:1;
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:block;
  width:250px;
}

.main-menu li>a {
  position:relative;
  width:350px;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#c3ced4;
  font-size: 20px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .14s linear;
  transition:all .14s linear;
  font-family: 'Gt super text book', Georgia, sans-serif;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:55px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.font_all_page{
  height: auto;
  z-index: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: -10px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.main-menu .nav-text  {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width: 190px;
  font-size: 20px;
  font-weight: bold;
  font-family:  Arial, Helvetica, sans-serif;
}
.main-menu .nav-text:hover .fa{
  font-size: 34px;
}
.main-menu .nav-text:hover{
  font-size: 21px;
  border-bottom: 1px solid #fff;
}

.main-menu .share {
}

.main-menu :hover > .gray-phone{
  opacity: 1;
  visibility: visible;
}
.gray-phone{
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}


.main-menu .fb-like {
  left: 180px;
  position:absolute;
  top: 15px;
}

.main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}


/* Logo Hover Property */


.settings:hover, settings:focus {   
  background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.settings:active, settings:focus {   
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}


a:hover,a:focus {
  text-decoration:none;
  border-left:0px solid #F7F7F7;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none; 
}

nav ul,nav li {
  outline:0;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  text-transform: uppercase;
}
/* Darker element side menu Start*/
.darkerli
{
  text-transform:capitalize;  
}

.darkerlishadow
{
  
  text-transform:capitalize;  
  -webkit-box-shadow: inset 0px 5px 5px -4px rgba(44, 51, 71, 0.8);
  -moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown
{
  text-transform:capitalize;  
  -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/


.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  text-shadow: 0px 0px 0px; 
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
