.all-container{
    width: auto;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    padding: 326.12px 0px;
}
.input__password.invalid {
    color: #fca5a5;;
}
.title_input {
    font-size: 16px;
    font-family: Inter;
    white-space: nowrap;
}
.input__password {
    padding: 0;
    margin: 0;
    min-height: 50px;
}
.input__password:focus {
    outline: none;
    border: specify yours;
 } 
.input.invalid {
    border: 1px #fca5a5 solid;
}
.input__login {
    padding-left: 20px;
    box-shadow : none; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #e4e4e7;
    border-radius: 16px;
    border-width: 1px;
}

.back-text {
    color: #f2982a;
    font-size: 16px;
    font-family: Inter;
    text-decoration: underline;
    white-space: nowrap;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #9ca8e4;
}
.btn-submit {
    transition: all 0s ease 0s;
    width: 520px;
    height: 48px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: Inter;
    white-space: nowrap;
    background-color: #aeb9f1;
    border-radius: 12px;
    padding: 0px 39px;
}
.imageeay {
    cursor: pointer;
     margin-right: 20px;
}
.btn-container {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input input {
    height: 100%;
    width: 80%;
    border: none;
}
.input-container {
    width: 488px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.resetPasswordRootRoot {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    padding: 326.12px 0px;
  }
  .flexColumn {
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .flexColumn1 {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .serviceName1 {
    gap: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .text1 {
    width: 32px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #fbfbfb;
    font-size: 14px;
    font-family: Open Sans;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    border-style: solid;
    border-color: #d1d5db;
    border-radius: 2px;
    padding: 3.5px 4px 3.5px 5px;
    border-width: 1px;
  }
  
  .text2 {
    color: #333333;
    font-size: 20px;
    font-family: Open Sans;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.2px;
  }
  .text3 {
    font-size: 20px;
    font-weight: 500;
    font-family: Inter;
    white-space: nowrap;
  }
  .flexColumn2 {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .flexColumn3 {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .flexColumn6 {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .flexColumn7 {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blueBellText {
    width: 442px;
    height: 48px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: Inter;
    white-space: nowrap;
    background-color: #aeb9f1;
    border-radius: 12px;
    padding: 0px 39px;
  }
  .text8 {
    color: #f2982a;
    font-size: 16px;
    font-family: Inter;
    text-decoration: underline;
    white-space: nowrap;
  }
  