.feedback-container{
  background-color: #fff;
  border-top: 4px solid #a3aec8;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
  border-radius: 3px;
  max-width: auto;
  min-height: 300px;
  height: auto;
  position: absolute;
  left: 140px;
  right: 0;
  top: 30%;
  width: 80%;
  padding: 50px 60px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  
  align-items: baseline;
  flex-direction: column;
}
.data-info{
  position: absolute;
  right: 50px;
  top: 20%;
  font-family: "Segoe UI";
}
.main-info{
  margin-top: 15px;
  min-width: 80%;
  align-self: center;
  font-weight: bolder;
  font-size: 18px;
  font-family: "Segoe UI";
}
.new-message{
  position: absolute;
  left: 30%;
  right: 50%;
}
.title-beedback{
  font-family: "Segoe UI";
  margin-left: 30px;
  color: #212529;
  font-size: 22px;
  font-weight: bold;
}
.card-notfound{
  font-family: "Segoe UI";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #e5ebf2;
  background-color: #fff;
  width: 100%;
  height: auto;
  min-height: 150px;
  max-width: auto;
}
.card-feedback{
  font-family: "Segoe UI";
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #e5ebf2;
  background-color: #fff;
  width: 100%;
  height: auto;
  min-height: 150px;
  max-width: auto;
}

.stud-text{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    font-family: "Times New Roman", Georgia, Serif;
}
.info-container{
  height: auto;
  min-width: 600px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 30px 50px;
}
.card-body{
    margin-right: 20px;
}
.header-title-block {
    display: flex;
    min-width: 600px;
    min-height: 30px;
    justify-content: space-between;
    padding: 0 0;
    font-size: 22px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #e5ebf2;
    color: #29313f;
}
.subject-title-box{
    margin-bottom: 10px;
    font-size: 19px;
    font-family: "Arial, Helvetica, sans-serif";
}
.block-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 600px;
    min-height: 30px;
    padding: 10px 10px;
    text-transform: none;
    font-size: 19px;
}
.cart-info-student{
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 600px;
    min-height: 30px;
    height: auto;
    padding: 17px 40px;
    border: none;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}
.cart-info-teacer{
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 600px;
    min-height: 30px;
    height: auto;
    padding: 17px 40px;
    border: none;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}
.title-block-text{
    font-size: 30px;
}
.title-block {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    color: #29313f;
}
.image-cart-teacher{
    width: 270px;
    border-radius: 25%;
    z-index: 0;
    padding: 30px 50px;
}
.all-container{
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin:0px;
    height: auto;
    min-height: 100%;
    padding-left: 100px;
	  font-family: "Open Sans", arial;
    background-color: rgb(231, 237, 241);
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
	  color:#000;
	  font-weight:300;
}

.cart-teacher{
    display: flex;
    width: auto;
    min-width: 600px;
    min-height: 30px;
    height: auto;
    padding: 17px;
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}
.cart-student{
    display: flex;
    width: auto;
    min-width: 600px;
    min-height: 230px;
    height: auto;
    padding: 17px;
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}

.img-fluid{
    margin-top: -5px;
    padding: 10px;
}


/* Edit form student */

.title-edit{
    /*margin-left: 50px;*/
    margin-bottom: 5px;
    font-size: 26px;
    color:#29313f;
    font-family: "Segoe UI";
}
.new-student__Container{
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: rgb(231, 237, 241);
    background-position: 20px 50px;
	  background-image: url('../images/gears2.png');
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 960px;
}
.edit__container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin:0px;
    height: auto;
    padding-left: 100px;
	font-family: "Open Sans", arial;
    background-color: rgb(231, 237, 241);
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
	color:#000;
	font-weight:300;
}

.container1{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span-text{
    font-size: 26px;
    font-family: "Arial, Helvetica, sans-serif";
}
.btn__edit{
    transition: all 1s ease 0s;
    position: absolute;
    bottom: -100px;
    transition: all 1s ease 0s;
    height: 50px;
    left: 39%;
    width: 250px;
    font-size: 19px;
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 20px;
    font-family: "Arial, Helvetica, sans-serif";
    background-color:rgb(18, 235, 235);
    border-radius: 30px;
}

.btn__edit:hover{
    transition: all 1s ease 0s;
    background-color:rgb(54, 179, 179);
}
.button-edit{
  background: #58b9b6;
  color: #f4f5f0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  transition: background 100ms ease-in-out;
}

.button-edit:hover{
  background: #6ac1be;
}

.form-edit{
    position: relative;
    background-color: #fff;
    color: #000;
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin-bottom: 7px;
    margin-top: 150px;
    padding: 17px;
    height: auto;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* ______________________________ */

/* Customize the label (the container) */
.container {
    color: #000;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(172, 241, 163);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.loader-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

body {
    font-size: 16px;
 }
  .wrapper {
    width: 90%;
    margin: 100px auto;
    text-align: center;
 }
  .sendButton {
    background: #58b9b6;
    color: #f4f5f0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    transition: background 100ms ease-in-out;
 }
  .sendButton:hover {
    background: #6ac1be;
 }
  .sendButton:active {
    background: #49aeab;
 }
  .sendButton .loading {
    display: inline-block;
    margin: -2px 2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 3px solid #f4f5f0;
    border-top-color: transparent;
    animation: spin 800ms infinite linear;
 }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
   }
    100% {
      transform: rotate(360deg);
   }
 }
  
 .container-buttons{
   display: flex;
   justify-content: space-between;
 }

 .badge-counter {
  right: 5px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  background: #fa5873;
}

.sub-all-container{
  font-family: 'Gt super text book', Georgia, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 0.2px solid gray;
  background-color: white
}

.teacher-header{
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-left: 160px;
}

