.stud-text{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    font-family: "Times New Roman", Georgia, Serif;
}
.info-container{
    height: auto;
    min-width: 600px;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 0;
    padding: 30px 50px;
}
.card-body{
    margin-right: 20px;
}
.header-title-block {
    display: flex;
    min-width: 600px;
    min-height: 30px;
    justify-content: space-between;
    padding: 0 0;
    font-size: 22px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #e5ebf2;
    color: #29313f;
}
.subject-title-box{
    margin-bottom: 10px;
    font-size: 19px;
    font-family: "Arial, Helvetica, sans-serif";
}
.block-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 600px;
    min-height: 30px;
    padding: 10px 10px;
    text-transform: none;
    font-size: 19px;
}
.cart-info-student{
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 600px;
    min-height: 30px;
    height: auto;
    padding: 17px 40px;
    border: none;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}
.cart-info-teacer{
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 600px;
    min-height: 30px;
    height: auto;
    padding: 17px 40px;
    border: none;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}
.title-block-text{
    font-size: 30px;
}
.title-block {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    color: #29313f;
}
.image-cart-teacher{
    width: 270px;
    border-radius: 25%;
    z-index: 0;
    padding: 30px 50px;
}
.all-container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin:0px;
    height: 100%;
    padding-left: 100px;
	font-family: "Open Sans", arial;
    background-color: rgb(231, 237, 241);
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
	color:#000;
	font-weight:300;
    overflow-y: hidden;
    overflow-x: hidden;
}
.cart-teacher{
    display: flex;
    width: auto;
    min-width: 600px;
    min-height: 30px;
    height: auto;
    padding: 17px;
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}
.cart-student{
    display: flex;
    width: auto;
    min-width: 600px;
    min-height: 230px;
    height: auto;
    padding: 17px;
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
}

.img-fluid{
    margin-top: -5px;
    padding: 10px;
}


/* Edit form student */

.title-edit{
    margin-left: 50px;
    font-size: 26px;
    color:#29313f;
    font-family: "Arial, Helvetica, sans-serif";
}
.new-student__Container{
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: rgb(231, 237, 241);
    background-position: 20px 50px;
	background-image: url('../images/gears2.png');
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 960px;
}
.edit__container{
    color: #fff;
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: rgb(231, 237, 241);
    background-position: 20px 50px;
	  /* background-image: url('../images/gears2.png'); */
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.container1{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span-text{
    font-size: 26px;
    font-family: "Arial, Helvetica, sans-serif";
}
.btn__edit{
    transition: all 1s ease 0s;
    bottom: -100px;
    transition: all 1s ease 0s;
    height: 50px;
    align-self: flex-end;
    width: 250px;
    font-size: 19px;
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 20px;
    font-family: "Arial, Helvetica, sans-serif";
    background-color:rgb(18, 235, 235);
    border-radius: 30px;
}

.btn__edit:hover{
    transition: all 1s ease 0s;
    background-color:rgb(54, 179, 179);
}
.button-edit{
    margin-bottom: 7px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color:rgb(18, 235, 235);
    border: 1px solid #fff;
    padding: 10px;
    width: 70px;
    height: 50px;
    transition: all 0.5s ease 0s;
}

.button-edit:hover{
    background-color:rgb(18, 235, 235);
    transition: all 0.5s ease 0s;
}

.form-edit{
    position: relative;
    background-color: #fff;
    color: #000;
    box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin-bottom: 7px;
    margin-top: 150px;
    padding: 17px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* ______________________________ */

/* Customize the label (the container) */
.container {
    color: #000;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(172, 241, 163);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #000;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .loader-container{
      height: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
  }