.wraper-column{
  display: flex;
  flex-direction: column;
}
.all-container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin:0;
    height: auto;
    padding: 0;
	  font-family: "Open Sans", arial;
    background-color: rgb(231, 237, 241);
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
	  color:#000;
    overflow-y: auto;
	  font-weight:300;
}
.date{
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  text-align: left;
  color: #a3aec8;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
  height: 20%;
}
.wraper{
  margin-top: 0;
  display: flex;

  /* Column revers !!! */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  min-height: auto;
  width: 100%;
  margin-left: 130px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 50px;
}
.container-title{
  height: auto;
  width: 100%;
  align-self: flex-start;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
}
p.title{
  margin-left: 150px;
  font-size: 20px;
  margin-top: 22px;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.logo{
  background-image: none;
  padding: 0 20px 0 20px;
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: -5px;
}
div{
  display: block;
}
.news-container{
  cursor: pointer;
  width: 80%;
  margin: 10px;
  margin-right: 60px;
  height: auto;
  min-height: 150px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: 3px solid #1bd2c7;
  justify-content: space-between;
}
.img-news{
  margin-left: 10px;
  margin-right: 10px;
  height: 340px;
}
.heaber{
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
    height: 150px;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-left: 160px;
}
.loader-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .popup::-webkit-scrollbar {
    width: 7px;
  }
  .popup::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
    border-radius: 10px;
  }
  .popup::-webkit-scrollbar-thumb {
    background: #b7bfcf;
    
    border-radius: 10px;
  }

  .popup {
    position: absolute;
    z-index: 12;
    content: '';
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(44, 51, 71, 0.7);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px;
}
.popup__content {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  overflow:hidden;
  background-color: white;
  color: black;
  max-width: 900px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  width: 600px;
  height: auto;
  min-height: 500px;
  transform: perspective(600px) translate(0px, -100px) rotateX(45deg)
}
.popup__content.animate {
  transition: all 0.3s ease 0s;
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg)
}
.popup__close{
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.popup__text{
  color: black;
  font-size: 30px;
}
.text__fonts{
  box-sizing: border-box;
  color: rgb(8, 8, 8);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal-content{
  transition: all 1s ease 0s;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}
.big-news-container{
  transition: all 1s ease 0s;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);  margin-top: 50px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}
b.title{
  align-self: flex-start;
  font-weight: bold;
  font-size: 23px;
}

b.mainInfo{
  font-size: 20px;
}

hr {
  width: 50px;
  background-color: #fa5873;
  height: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}

.new-message{
  font-size: 22px;
  font-weight: bolder;
  color: red;
  margin-left: 70px;
  transform: rotate(45deg);
  position: absolute;
}